<h1>Welcome to Members-only lodge!</h1>
<%= link_to "Sign up", signup_path %>
<%= link_to "View posts", '#' %>


<% if logged_in?%>
    <%= link_to "Log out", logout_path, method: :delete %>
    <%= current_user.name %>
<% else %>
    <%= link_to "Log in", login_path %>
<% end %>
    